---
import MainLayout from "@layouts/MainLayout.astro";
import { DEFAULT_METADATA, EMAIL } from "@util/constants";
import { Icon } from "astro-icon/components";
import linda from "@assets/linda.webp";
import { Image } from "astro:assets";
import SocialsGrid from "@components/SocialsGrid.astro";
---

<MainLayout metadata={DEFAULT_METADATA}>
  <section class="intro">
    <h1>Hi, I'm so pleased to meet you! <br /> I'm Linda.</h1>
    <div class="intro-photo">
      <div class="photo-bg"></div>
      <Image
        priority={true}
        src={linda}
        alt="A woman with dark brown and purple hair in a gray tank top offers you a friendly and knowing smile."
        layout="constrained"
        class="photo"
      />
    </div>
    <div class="intro-blurb">
      <p>
        I'm a software engineer with an artistic background and a deep love for
        games and puzzles. I build friendly, accessible designs and modern,
        maintainable JavaScript logic, backed with stellar communication and
        organization skills.
      </p>

      <button popovertarget="contact-popover">
        <p class="gradient-text">Let's build something together</p>
      </button>
    </div>
    <div id="contact-popover" popover>
      <p class="contact-title gradient-text">Wanna chat?</p>
      <p class="contact-email">
        <Icon name="email" />
        Email:
        <a href={`mailto:${EMAIL}`}>{EMAIL}</a>
      </p>
      <div class="contact-socials">
        <SocialsGrid />
      </div>
    </div>
  </section>
</MainLayout>

<style>
  .intro {
    container-type: inline-size;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
    align-items: center;

    @media (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

  .intro h1 {
    font-family: var(--accent-font);
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
    line-height: 1.3;

    @media (min-width: 1024px) {
      grid-column: 1;
      grid-row: 1;
    }
  }

  .intro-photo {
    display: grid;
    justify-content: center;

    @media (min-width: 1024px) {
      grid-column: 2;
      grid-row: 1 / span 2;
    }
  }

  .photo {
    width: 60cqw;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 1;

    @media screen and (min-width: 768px) {
      width: 40cqw;
    }

    @media screen and (min-width: 1024px) {
      width: 30cqw;
    }
  }

  .photo-bg {
    border-radius: 46% 54% 90% 10% / 63% 52% 48% 37%;
    background: var(--gradient);
    grid-column: 1;
    grid-row: 1;
    margin-top: 3rem;
  }

  .intro-blurb {
    width: 85cqw;
    display: grid;
    gap: 1rem;

    @media (min-width: 1024px) {
      width: 55cqw;
      grid-column: 1;
      grid-row: 2;
    }
  }

  .intro-blurb button {
    background:
      linear-gradient(to bottom, var(--background), var(--background))
        padding-box,
      var(--gradient) border-box;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 0.75rem;
    box-shadow: -4px 6px 14px 0px var(--bg-shadow);
    anchor-name: --contact-anchor;

    p {
      font-size: var(--h5);
      font-family: var(--accent-font);
    }

    @media (min-width: 1024px) {
      justify-self: center;
    }
  }

  #contact-popover {
    position-anchor: --contact-anchor;
    position-area: top;
    position: absolute;
    container-type: inline-size;
    width: 100cqw;
    padding: 1rem 1.5rem;
    background:
      linear-gradient(to bottom, var(--background), var(--background))
        padding-box,
      var(--gradient) border-box;
    border: 2px solid transparent;
    border-radius: 4px;
    margin-bottom: 0.5rem;

    @media (min-width: 1024px) {
      width: 35cqw;
    }
  }

  .contact-title {
    font-size: var(--h4);
    font-family: var(--accent-font);
    text-align: center;
  }

  .contact-email {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: var(--b-md);
    margin: 0 auto 0.25rem;
    width: fit-content;
  }

  .contact-email svg {
    display: inline-block;
    width: 1.125rem;
  }

  .contact-socials {
    width: 75cqw;
    margin: 0 auto;

    @media (min-width: 520px) and (max-width: 1024px) {
      width: 50cqw;
    }
  }
</style>
