---
import linda from "@assets/linda.webp";
import ContactEmail from "@components/ContactEmail.astro";
import PostPreviewCard from "@components/PostPreviewCard.astro";
import ProjectPreviewCard from "@components/ProjectPreviewCard.astro";
import SocialsGrid from "@components/SocialsGrid.astro";
import ValuesCard from "@components/ValuesCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { DEFAULT_METADATA } from "@util/constants";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const values = await getCollection("values");
const orderedValues = values.sort((v1, v2) => v1.data.order - v2.data.order);

const featuredProjects = await getCollection("projects", ({ data }) => {
  return data.featured === true;
});
const orderedProjects = featuredProjects.sort(
  (p1, p2) =>
    p2.data.lastPublishDate.getTime() - p1.data.lastPublishDate.getTime()
);

const featuredPosts = await getCollection("blog", ({ data }) => {
  return data.featured === true;
});
const orderedPosts = featuredPosts.sort(
  (p1, p2) => p2.data.publishedDate.getTime() - p1.data.publishedDate.getTime()
);
---

<MainLayout metadata={DEFAULT_METADATA}>
  <section class="intro">
    <h1>Hi, nice to meet you! <br /> I'm Linda.</h1>
    <div class="intro-photo">
      <div class="photo-bg"></div>
      <Image
        priority
        src={linda}
        alt="A woman with dark brown and purple hair in a gray tank top offers you a friendly and knowing smile."
        layout="constrained"
        class="photo"
      />
    </div>
    <div class="intro-blurb">
      <p>
        I'm a software engineer that loves video games and logic puzzles. I
        build accessible websites with semantic HTML, modern CSS, and
        maintainable JavaScript. You'll love working with me thanks to my
        stellar communication and organizational skills from my background in
        retail and music. My goal is to build the best products possible for the
        people that use them.
      </p>

      <div class="contact-cta">
        <ContactEmail ctaTitle="Let's build something together" />
        <SocialsGrid />
      </div>
    </div>
  </section>

  <section class="value-add">
    <h2>My core values</h2>
    <div class="skills-container">
      {orderedValues.map((value) => <ValuesCard valueObj={value} />)}
    </div>
  </section>

  <section class="projects">
    <h2>Project showcase</h2>
    <div class="exp-cards">
      {orderedProjects.map((item) => <ProjectPreviewCard project={item} />)}
    </div>
  </section>

  <section class="writing">
    <h2>Writing showcase</h2>
    <div class="exp-cards">
      {orderedPosts.map((item) => <PostPreviewCard blogBit={item} />)}
    </div>
  </section>
</MainLayout>

<style>
  section {
    margin-bottom: 6rem;
  }

  .intro {
    container-type: inline-size;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;

    @media (min-width: 1024px) {
      & {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  .intro h1 {
    text-align: center;
    text-wrap: balance;
    margin-bottom: 0;

    @media (min-width: 1024px) {
      & {
        grid-column: 1;
        grid-row: 1;
        align-self: end;
      }
    }
  }

  .intro-photo {
    display: grid;
    justify-content: center;

    @media (min-width: 1024px) {
      & {
        grid-column: 2;
        grid-row: 1 / span 2;
      }
    }
  }

  .photo {
    width: 60cqw;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 1;

    @media screen and (min-width: 768px) {
      & {
        width: 40cqw;
      }
    }

    @media screen and (min-width: 1024px) {
      & {
        width: 35cqw;
      }
    }
  }

  .photo-bg {
    border-radius: 46% 54% 90% 10% / 63% 52% 48% 37%;
    background: var(--gradient);
    grid-column: 1;
    grid-row: 1;
    margin-top: 3rem;
  }

  .intro-blurb {
    width: 85cqw;
    display: grid;
    gap: 1rem;

    @media (min-width: 1024px) {
      & {
        width: 55cqw;
        grid-column: 1;
        grid-row: 2;
      }
    }
  }

  .contact-cta {
    display: grid;
    justify-content: center;
    gap: 0.5rem;
  }

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .skills-container {
    container-type: inline-size;
    display: grid;
    gap: 2rem;

    @media (min-width: 1024px) {
      & {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  .exp-cards {
    container-type: inline-size;
    display: grid;
    gap: 2rem;

    @media (min-width: 768px) {
      & {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    @media (min-width: 1280px) {
      & {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
</style>

<style is:global>
  .exp-cards > div {
    @media (min-width: 768px) {
      & {
        grid-area: span 1 / span 2;
      }
    }

    @media (min-width: 1280px) {
      & {
        grid-area: span 1 / span 1;
      }
    }
  }

  .exp-cards > div:last-child:nth-child(odd) {
    @media (min-width: 768px) {
      & {
        grid-column: 2 / span 2;
      }
    }

    @media (min-width: 1280px) {
      & {
        grid-column: span 1;
      }
    }
  }
</style>
