---
import { AstroFont } from "astro-font";
import { ViewTransitions } from "astro:transitions";
const { metadata } = Astro.props;
---

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<meta name="generator" content={Astro.generator} />
<meta property="og:image" content={metadata.imagePath} />
<meta property="og:title" content={metadata.title}>
<meta property="og:type" content="article" />
<meta property="og:description" content={metadata.description}>
<meta property="og:url" content={metadata.url}>
<meta name="twitter:card" content="summary_large_image">
<title>{metadata.title}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<AstroFont
  config={[
    {
      src: [],
      preload: false,
      display: "swap",
      name: "Birthstone",
      fallback: "sans-serif",
      cssVariable: "cursive-font",
      googleFontsURL: 'https://fonts.googleapis.com/css2?family=Birthstone',
    },
    {
      src: [],
      preload: false,
      display: "swap",
      name: "Overlock",
      fallback: "serif",
      cssVariable: "serif-font",
      googleFontsURL: 'https://fonts.googleapis.com/css2?family=Overlock:wght@400;700',
    },
    {
      src: [],
      preload: false,
      display: "swap",
      name: "Fira Sans",
      fallback: "sans-serif",
      cssVariable: "body-font",
      googleFontsURL: 'https://fonts.googleapis.com/css2?family=Fira+Sans',
    },
  ]}
/>
<link href="/prism-theme.css" rel="stylesheet">

<ViewTransitions />
