---
import { ViewTransitions } from "astro:transitions";
const { metadata } = Astro.props;
---

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<meta name="generator" content={Astro.generator} />
<meta property="og:image" content={metadata.imagePath} />
<meta property="og:title" content={metadata.title} />
<meta property="og:type" content="article" />
<meta property="og:description" content={metadata.description} />
<meta property="og:url" content={metadata.url} />
<meta name="twitter:card" content="summary" />
<title>{metadata.title}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Overlock:wght@400;700&family=Birthstone&display=swap"
  rel="stylesheet"
/>
<link href="/prism-theme.css" rel="stylesheet" />

<ViewTransitions />
