---
import type { CollectionEntry } from "astro:content";
import CardWrapper from "./CardWrapper.astro";

export interface Props {
  noteInfo: CollectionEntry<"notes">;
}

const { noteInfo } = Astro.props;
const { title, description, dateUpdated } = noteInfo.data;

const dateString = new Date(dateUpdated).toLocaleDateString("en-us", {
  dateStyle: "medium",
});
const addFontClamp = title.length > 45;
const postUrl = `/notes/${noteInfo.slug}`;
---

<CardWrapper>
  <a href={postUrl} class="pr-link">
    <h3 class:list={["pr-title", { "title-clamp": addFontClamp }]}>{title}</h3>
    <div class="pr-flex">
      <p class="pr-date">
        {dateString}
      </p>
      <div class="decoration"></div>
    </div>
    <p class="pr-blurb">{description}</p>
  </a>
</CardWrapper>

<style>
  .pr-link {
    text-decoration: none;
    padding: 0 var(--s16);
    display: grid;
    grid-template-rows: 1fr auto 1fr auto;
    align-items: center;
    gap: var(--s8);
    min-block-size: 100%;
  }

  .pr-title {
    font-size: var(--h5);
    margin: 0;
    text-align: center;
  }

  .title-clamp {
    font-size: clamp(var(--h6), 6cqi, var(--h4));
  }

  .pr-date {
    color: var(--text-main);
    font-family: var(--body-font);
    font-size: var(--b-sm);
    opacity: 0.8;
    text-transform: uppercase;
  }

  .pr-flex {
    display: flex;
    align-items: center;
    gap: var(--s8);
  }

  .pr-flex:has(.pr-date) {
    align-self: start;
  }

  .decoration {
    height: 2px;
    flex-grow: 1;
    background-color: var(--text-main);
    border-radius: var(--s4);
    opacity: 0.8;
  }

  @media (max-width: 520px) {
    .pr-link {
      grid-template-rows: auto;
    }
    .pr-title:not(.title-clamp) {
      font-size: var(--h5);
    }
  }
</style>
