---
import type { CollectionEntry } from "astro:content";
import CardWrapper from "./CardWrapper.astro";

export interface Props {
  noteInfo: CollectionEntry<"notes">;
}

const { noteInfo } = Astro.props;
const { title, description, dateUpdated } = noteInfo.data;

const dateString = new Date(dateUpdated).toLocaleDateString("en-us", {
  dateStyle: "medium",
});
const addFontClamp = title.length > 45;
const postUrl = `/notes/${noteInfo.id}`;
---

<CardWrapper>
  <a href={postUrl} class="pr-link">
    <h4 class:list={["pr-title", { "title-clamp": addFontClamp }]}>{title}</h4>
    <div class="pr-flex">
      <p class="pr-date">
        {dateString}
      </p>
      <div class="decoration"></div>
    </div>
    <p class="pr-blurb">{description}</p>
  </a>
</CardWrapper>

<style>
  .pr-link {
    text-decoration: none;
    padding: 0 1rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr auto);
    align-items: center;
    gap: 0.5rem;
    min-block-size: 100%;
  }

  .pr-title {
    margin: 0;
    text-align: center;
  }

  .title-clamp {
    font-size: clamp(var(--h6), 7cqi, var(--h3));
  }

  .pr-date {
    font-size: var(--b-sm);
    opacity: 0.8;
    text-transform: uppercase;
  }

  .pr-flex {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .pr-flex:has(.pr-date) {
    align-self: start;
  }

  .decoration {
    height: 2px;
    flex-grow: 1;
    background-color: var(--text-main);
    border-radius: 4px;
    opacity: 0.8;
  }
</style>
