---
import type { CollectionEntry } from "astro:content";

interface Props {
  noteInfo: CollectionEntry<"notes">;
}

const { noteInfo } = Astro.props;

const dateString = new Date(noteInfo.data.lastUpdate).toLocaleDateString(
  "en-us",
  {
    dateStyle: "long",
  }
);
---

<div class="note-info-wrapper">
  <a href={`/notes/${noteInfo.slug}`} class="note-info-link">
    <time datetime={noteInfo.data.lastUpdate.toString()} class="note-info-date">
      {dateString}
    </time>
    <h2 class="note-info-title">{noteInfo.data.title}</h2>
    <p class="note-info-blurb">{noteInfo.data.description}</p>
  </a>
</div>

<style>
  .note-info-wrapper {
    margin-bottom: 3rem;
    padding: 1rem;
    border: 3px dashed transparent;
    border-bottom-color: var(--purple);
    border-top-color: var(--purple);
    border-radius: 0;
    transition: all 0.2s ease-in-out;
  }

  .note-info-wrapper:nth-child(2n) {
    border-bottom-color: var(--blue);
    border-top-color: var(--blue);
  }

  .note-info-wrapper:nth-child(3n) {
    border-bottom-color: var(--pink);
    border-top-color: var(--pink);
  }

  .note-info-wrapper:nth-child(4n) {
    border-bottom-color: var(--green);
    border-top-color: var(--green);
  }

  .note-info-wrapper:hover {
    border-color: var(--purple);
    border-radius: 7px;
  }

  .note-info-wrapper:nth-child(2n):hover {
    border-color: var(--blue);
  }

  .note-info-wrapper:nth-child(3n):hover {
    border-color: var(--pink);
  }

  .note-info-wrapper:nth-child(4n):hover {
    border-color: var(--green);
  }

  .note-info-link {
    text-decoration: none;
  }

  .note-info-title {
    font-size: 1.75rem;
    margin: 0.5rem auto;
  }

  .note-info-date {
    color: var(--text-main);
    font-size: 0.9rem;
    opacity: 0.6;
    font-family: var(--body-font);
    display: block;
  }
</style>
