---
import type { CollectionEntry } from "astro:content";
import CardWrapper from "./CardWrapper.astro";

export interface Props {
  blogBit: CollectionEntry<"blog">;
}

const { blogBit } = Astro.props;
const { title, description, publishedDate, remoteLink, remoteSrc } =
  blogBit.data;

const dateString = new Date(publishedDate).toLocaleDateString("en-us", {
  dateStyle: "medium",
});
const addFontClamp = title.length > 45;
const postUrl = remoteLink ?? `/blog/${blogBit.id}`;
const isLocal = remoteLink === undefined;
const readPostCTA = isLocal ? "Read post" : `Read on ${remoteSrc}`;
---

<CardWrapper>
  <a href={postUrl} class="pr-link">
    <h4 class:list={["pr-title", { "title-clamp": addFontClamp }]}>{title}</h4>
    <div class="pr-flex">
      <p class="pr-date">
        {dateString}
      </p>
      <div class="decoration"></div>
    </div>
    <p class="pr-blurb">{description}</p>
    <div class="pr-flex">
      <p class:list={["pr-src", { "local-color": isLocal }]}>
        {isLocal ? "Local" : "Remote"}
      </p>
      <div class="decoration"></div>
      <p class="pr-read-more">{readPostCTA}<span> »</span></p>
    </div>
  </a>
</CardWrapper>

<style>
  .pr-link {
    text-decoration: none;
    padding: 0 1rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr auto);
    align-items: center;
    gap: 0.5rem;
    min-block-size: 100%;
  }

  .pr-title {
    margin: 0;
    text-align: center;
  }

  .title-clamp {
    font-size: clamp(var(--h6), 7cqi, var(--h3));
  }

  .pr-date {
    font-size: var(--b-sm);
    opacity: 0.8;
    text-transform: uppercase;
  }

  .pr-flex {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .pr-flex:has(.pr-date) {
    align-self: start;
  }

  .pr-flex:has(.pr-src) {
    align-self: end;
  }

  .decoration {
    height: 2px;
    flex-grow: 1;
    background-color: var(--text-main);
    border-radius: 4px;
    opacity: 0.8;
  }

  .pr-src {
    color: var(--green);
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.8;
  }

  .local-color {
    color: var(--blue);
  }

  .pr-read-more,
  .pr-read-more span {
    color: var(--purple);
    font-size: var(--b-sm);
    text-transform: uppercase;
    opacity: 0.8;
  }
</style>
