---
import type { CollectionEntry } from "astro:content";

export interface Props {
  blogBit: CollectionEntry<"blog">;
}

const { blogBit } = Astro.props;

const dateString = new Date(blogBit.data.date).toLocaleDateString("en-us", {
  dateStyle: "long",
});
---

<div class="blog-bit-wrapper">
  <a href={`/blog/${blogBit.slug}`} class="blog-bit-link">
    <time datetime={blogBit.data.date.toString()} class="blog-bit-date">
      {dateString}
    </time>
    <h2 class="blog-bit-title">{blogBit.data.title}</h2>
    <p class="blog-bit-blurb">{blogBit.data.description}</p>
  </a>
</div>

<style>
  .blog-bit-wrapper {
    border: 3px dashed transparent;
    border-bottom-color: var(--purple);
    border-radius: 0;
    border-top-color: var(--purple);
    margin-bottom: 3rem;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
  }

  .blog-bit-wrapper:nth-child(2n) {
    border-bottom-color: var(--blue);
    border-top-color: var(--blue);
  }

  .blog-bit-wrapper:nth-child(3n) {
    border-bottom-color: var(--pink);
    border-top-color: var(--pink);
  }

  .blog-bit-wrapper:nth-child(4n) {
    border-bottom-color: var(--green);
    border-top-color: var(--green);
  }

  .blog-bit-wrapper:hover {
    border-color: var(--purple);
    border-radius: 7px;
  }

  .blog-bit-wrapper:nth-child(2n):hover {
    border-color: var(--blue);
  }

  .blog-bit-wrapper:nth-child(3n):hover {
    border-color: var(--pink);
  }

  .blog-bit-wrapper:nth-child(4n):hover {
    border-color: var(--green);
  }

  .blog-bit-link {
    text-decoration: none;
  }

  .blog-bit-title {
    font-size: 1.75rem;
    margin: 0.5rem auto;
  }

  .blog-bit-date {
    color: var(--text-main);
    display: block;
    font-family: var(--body-font);
    font-size: 0.9rem;
    opacity: 0.8;
  }
</style>
