---
import type { CollectionEntry } from "astro:content";
import CardWrapper from "./CardWrapper.astro";

export interface Props {
  blogBit: CollectionEntry<"blog">;
}

const { blogBit } = Astro.props;
const { title, description, publishedDate, remoteLink, remoteSrc } =
  blogBit.data;

const dateString = new Date(publishedDate).toLocaleDateString("en-us", {
  dateStyle: "medium",
});
const addFontClamp = title.length > 45;
const postUrl = remoteLink ?? `/blog/${blogBit.slug}`;
const isLocal = remoteLink === undefined;
const readPostCTA = isLocal ? "Read post" : `Read on ${remoteSrc}`;
---

<CardWrapper>
  <a href={postUrl} class="pr-link">
    <h3 class:list={["pr-title", { "title-clamp": addFontClamp }]}>{title}</h3>
    <div class="pr-flex">
      <p class="pr-date">
        {dateString}
      </p>
      <div class="decoration"></div>
    </div>
    <p class="pr-blurb">{description}</p>
    <div class="pr-flex">
      <p class:list={["pr-src", { "local-color": isLocal }]}>
        {isLocal ? "Local" : "Remote"}
      </p>
      <div class="decoration"></div>
      <p class="pr-read-more">{readPostCTA}<span> »</span></p>
    </div>
  </a>
</CardWrapper>

<style>
  .pr-link {
    text-decoration: none;
    padding: 0 var(--s16);
    display: grid;
    grid-template-rows: 2fr auto 1fr auto;
    align-items: center;
    gap: var(--s8);
    min-block-size: 100%;
  }

  .pr-title {
    font-size: var(--h4);
    margin: 0;
    text-align: center;
  }

  .title-clamp {
    font-size: clamp(var(--h6), 7cqi, var(--h3));
  }

  .pr-date {
    color: var(--text-main);
    font-family: var(--body-font);
    font-size: var(--b-sm);
    opacity: 0.8;
  }

  .pr-flex {
    display: flex;
    align-items: center;
    gap: var(--s8);
  }

  .pr-flex:has(.pr-date) {
    align-self: start;
  }

  .pr-flex:has(.pr-src) {
    align-self: end;
  }

  .decoration {
    height: 2px;
    flex-grow: 1;
    background-color: var(--text-main);
    border-radius: var(--s4);
    opacity: 0.8;
  }

  .pr-src {
    color: var(--green);
    text-transform: uppercase;
    font-size: var(--b-sm);
    opacity: 0.8;
  }

  .local-color {
    color: var(--blue);
  }

  .pr-read-more,
  .pr-read-more span {
    color: var(--purple);
  }

  @media (max-width: 520px) {
    .pr-link {
      grid-template-rows: auto;
    }
    .pr-title:not(.title-clamp) {
      font-size: var(--h5);
    }
  }
</style>
