---
import type { CollectionEntry } from "astro:content";
import CardWrapper from "./CardWrapper.astro";

export interface Props {
  blogBit: CollectionEntry<"blog">;
}

const { blogBit } = Astro.props;
const { title, description, publishedDate, remoteLink, remoteSrc } = blogBit.data;

const dateString = new Date(publishedDate).toLocaleDateString("en-us", {
  dateStyle: "medium",
});
const postUrl = remoteLink ?? `/blog/${blogBit.slug}`;
const isLocal = remoteLink === undefined;
const readPostCTA = isLocal ? 'Read post ➜' : `Read on ${remoteSrc} ➜`;
---

<CardWrapper>
  <a href={postUrl} class="pr-link">
    <h2 class="pr-title">{title}</h2>
    <div class="pr-flex">
      <p class="pr-date">
        {dateString}
      </p>
      <div class="decoration"></div>
    </div>
    <p class="pr-blurb">{description}</p>
    <div class="pr-flex">
      <p class:list={["pr-src", {'local-color': isLocal}]}>{isLocal ? 'Local' : 'Remote'}</p>
      <div class="decoration"></div>
      <p class="pr-read-more">{readPostCTA}</p>
    </div>
  </a>
</CardWrapper>

<style>
  .pr-link {
    text-decoration: none;
    padding: 0 var(--s16);
    display: grid;
    grid-template-rows: 2fr 0.5fr 2fr 0.5fr;
    align-items: center;
    gap: var(--s8);
    min-block-size: 100%;
  }

  .pr-title {
    font-size: var(--h6);
    margin: 0;
    text-align: center;
  }

  .pr-date {
    align-self: start;
    color: var(--text-main);
    font-family: var(--body-font);
    font-size: var(--b-sm);
    opacity: 0.8;
  }
  
  .pr-flex {
    align-self: end;
    display: flex;
    align-items: center;
    gap: var(--s8);
  }

  .decoration {
    height: 2px;
    flex-grow: 1;
    background-color: var(--text-main);
    border-radius: var(--s4);
    opacity: 0.8;
  }

  .pr-src {
    color: var(--green);
    text-transform: uppercase;
    font-size: var(--b-sm);
    opacity: 0.8;
  }
  
  .local-color {
    color: var(--blue);
  }
  .pr-read-more {
    color: var(--purple);
  }

</style>
