---
import TagList from "./TagList.astro";

interface Props {
  postDetails: {
    title: string;
    date: Date;
    tags: string[];
    noteSrc?: string;
    minutesRead?: string;
    isPost: boolean;
  };
}

const {
  title,
  minutesRead = "",
  tags,
  date,
  noteSrc = "",
  isPost,
} = Astro.props.postDetails;

const niceDate = new Date(date).toLocaleDateString("en-us", {
  dateStyle: "medium",
});
---

<div class="pd-wrapper">
  {
    isPost ? (
      <Fragment>
        <p>{niceDate}</p>
        <h1>{title}</h1>
        <p>{minutesRead}</p>
        <TagList
          tags={tags}
          collectionType="blog"
          activeTag=""
          showAll={false}
        />
      </Fragment>
    ) : (
      <Fragment>
        <p>{niceDate}</p>
        <h1>{title}</h1>
        {noteSrc && <p>{`Resource: ${noteSrc}`}</p>}
        <TagList
          tags={tags}
          collectionType="notes"
          activeTag=""
          showAll={false}
        />
      </Fragment>
    )
  }
</div>

<style>
  p {
    opacity: 0.8;
  }

  p:last-of-type {
    margin-bottom: var(--s16);
  }

  h1 {
    margin-top: calc(var(--s16) * -1);
    margin-bottom: calc(var(--s8) * -1);
    text-wrap: pretty;
  }

  @media (min-width: 1024px) {
    .pd-wrapper {
      text-align: center;
    }
  }
</style>
