---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  aboveFold?: boolean;
  project: CollectionEntry<"projects">;
  class?: string;
}

const { aboveFold = false, project, class: className } = Astro.props;
const loading = aboveFold ? "eager" : "lazy";
---

<div class=`card-container ${className}`>
  <div class="corners"></div>
  <div class="card">
    <article class="project-wrapper">
      <Image
        src={project.data.image}
        alt={project.data.imageAlt}
        loading={loading}
      />
      <h3 class="project-title">{project.data.name}</h3>
      <div class="project-tech">
        {project.data.tech.map((tech) => <p class="tech">{tech}</p>)}
      </div>
      <p class="project-description">{project.data.about}</p>
      <div class="project-links">
        {
          project.data.codeLink && (
            <a
              href={project.data.codeLink}
              class="code"
              target="_blank"
              rel="noreferrer noopener"
            >
              View Code
            </a>
          )
        }
        {
          project.data.liveLink && (
            <a
              href={project.data.liveLink}
              class="live"
              target="_blank"
              rel="noreferrer noopener"
            >
              View Site
            </a>
          )
        }
      </div>
    </article>
  </div>
</div>

<style>
  /* Effect heavily based on this awesome codepen: https://codepen.io/notwaldorf/pen/EOOzqz */

  /* padding here only affects the slot */
  .card-container {
    background: transparent;
    block-size: 100%;
    border: none;
    box-shadow: none;
    display: grid;
    padding: 0.5rem;
    position: relative;
    transition: box-shadow 0.2s ease-in-out;
  }

  .card-container:hover,
  .card-container:focus {
    box-shadow: 8px 12px 20px -4px var(--bg-shadow);

    & .corners:before {
      transform: scaleX(0);
    }

    & .corners:after {
      transform: scaleY(0);
    }
  }

  /* keeps the card info in front of the corners background, and allows for font size adjustments based on the card size */
  .card {
    container-type: inline-size;
    position: relative;
  }

  .corners {
    --border-block-size: calc(1.5 * var(--border-size));
    --border-size: 2px;
    --position-size: 2rem;
    border: var(--border-size) solid transparent;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    background:
      linear-gradient(to bottom, var(--background), var(--background))
        padding-box,
      var(--gradient) border-box;
  }

  /* 
    Before covers top/bottom, After covers left/right
    The borders here should be solid and the same color as whatever the card is on - they're "blocking out" the corners border
  */
  .corners:before {
    border-bottom: var(--border-block-size) solid var(--background);
    border-top: var(--border-block-size) solid var(--background);
    bottom: calc(-1 * var(--border-size));
    content: "";
    left: var(--position-size);
    position: absolute;
    top: calc(-1 * var(--border-size));
    width: calc(100% - (var(--position-size) * 2));
    transform: scaleX(1);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
  }

  .corners:after {
    border-left: var(--border-block-size) solid var(--background);
    border-right: var(--border-block-size) solid var(--background);
    content: "";
    height: calc(100% - (var(--position-size) * 2));
    left: calc(-1 * var(--border-size));
    position: absolute;
    right: calc(-1 * var(--border-size));
    top: var(--position-size);
    transform: scaleY(1);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
  }

  .project-wrapper {
    container-type: inline-size;
    block-size: 100%;
    padding: 0.25rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content repeat(4, auto);
    gap: 0.5rem;
    justify-items: center;
  }

  img {
    max-width: 100cqw;
    max-height: 30cqh;
    object-fit: contain;
  }

  .project-title {
    margin: 0;
    text-align: center;
  }

  .project-tech {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 85cqw;
  }

  .project-tech p {
    color: var(--pink);
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--b-sm);
    margin: 0 0.5rem;
  }

  .project-tech p:nth-child(4n + 2) {
    color: var(--purple);
  }

  .project-tech p:nth-child(4n + 3) {
    color: var(--blue);
  }

  .project-tech p:nth-child(4n + 4) {
    color: var(--green);
  }

  .project-description {
    font-size: var(--b-sm);
    margin: 0.25rem 0;
  }

  .project-links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5rem;
  }

  a {
    border-radius: 4px;
    color: var(--text-main);
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    text-decoration: none;

    transition:
      color 0.2s ease-in-out,
      background 0.2s ease-in-out;
  }

  a:hover {
    color: var(--text-flip);
  }

  .code {
    border: 2px solid var(--green);
  }

  .code:hover {
    background: var(--green);
  }

  .live {
    border: 2px solid var(--purple);
  }

  .live:hover {
    background: var(--purple);
  }
</style>
