---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import CardWrapper from "./CardWrapper.astro";

interface Props {
  aboveFold?: boolean;
  project: CollectionEntry<"projects">;
}

const { aboveFold = false, project } = Astro.props;
const loading = aboveFold ? "eager" : "lazy";
---

<CardWrapper>
  <article class="project-wrapper">
    <Image
      src={project.data.headerImage.image}
      alt={project.data.headerImage.imageAlt}
      loading={loading}
    />
    <h4 class="project-title">{project.data.name}</h4>
    <div class="project-tech">
      {project.data.tech.map((tech) => <p class="tech">{tech}</p>)}
    </div>
    <p class="project-description">{project.data.description}</p>
    <div class="project-links">
      {
        project.data.codeLink && (
          <a
            href={project.data.codeLink}
            class="code"
            target="_blank"
            rel="noreferrer noopener"
          >
            Codebase
          </a>
        )
      }
      {
        project.data.liveLink && (
          <a
            href={project.data.liveLink}
            class="live"
            target="_blank"
            rel="noreferrer noopener"
          >
            Live Site
          </a>
        )
      }
    </div>
    {
      project.data.hasCaseStudy && (
        <a href={"/projects/" + project.id} class="case-study">
          Case Study
        </a>
      )
    }
  </article>
</CardWrapper>

<style>
  .project-wrapper {
    block-size: 100%;
    padding: 0.25rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr auto auto;
    gap: var(--s8);
    justify-items: center;
  }

  img {
    max-width: 100%;
  }

  .project-title {
    font-size: var(--h6);
    margin: 0;
    text-align: center;
  }

  .project-tech {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-tech p {
    color: var(--pink);
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--b-sm);
    margin: 0 var(--s8);
  }

  .project-tech p:nth-child(2n) {
    color: var(--purple);
  }

  .project-tech p:nth-child(3n) {
    color: var(--blue);
  }

  .project-tech p:nth-child(4n) {
    color: var(--green);
  }

  .project-description {
    font-size: 0.95rem;
    margin: 0.25rem 0;
  }

  .project-links {
    display: flex;
    justify-content: center;
    gap: var(--s8);
  }

  a {
    border-radius: 5px;
    color: var(--text-main);
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    text-decoration: none;

    transition:
      color 0.2s ease-in-out,
      background 0.2s ease-in-out;
  }

  a:hover {
    color: var(--text-flip);
  }

  .code {
    border: 2px solid var(--green);
  }

  .code:hover {
    background: var(--green);
  }

  .live {
    border: 2px solid var(--purple);
  }

  .live:hover {
    background: var(--purple);
  }

  .case-study {
    border: 2px solid var(--blue);
  }

  .case-study:hover {
    background: var(--blue);
  }
</style>
