---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<article class="project-wrapper">
  <div class="project-image">
    <Image src={project.data.headerImage} alt={project.data.headerImageAlt} />
  </div>
  <h3 class="project-title">{project.data.name}</h3>
  <div class="project-tech">
    {project.data.tech.map((tech) => <p class="tech">{tech}</p>)}
  </div>
  <p class="project-description">{project.data.description}</p>
  <div class="project-links">
    {
      project.data.demoLink && (
        <a
          href={project.data.demoLink}
          class="demo"
          target="_blank"
          rel="noreferrer noopener"
        >
          Demo
        </a>
      )
    }
    {
      project.data.codeLink && (
        <a
          href={project.data.codeLink}
          class="code"
          target="_blank"
          rel="noreferrer noopener"
        >
          Code
        </a>
      )
    }
    {
      project.data.liveLink && (
        <a
          href={project.data.liveLink}
          class="live"
          target="_blank"
          rel="noreferrer noopener"
        >
          Live
        </a>
      )
    }
  </div>
  {
    project.data.hasCaseStudy && (
      <a href={"/projects/" + project.id} class="case-study">
        View Project Case Study
      </a>
    )
  }
</article>

<style>
  .project-wrapper {
    align-items: center;
    border-radius: 8px;
    box-shadow: none;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: 0.25rem 0.5rem 1rem;
    width: 98%;

    transition:
      box-shadow 0.3s,
      border 0.3s;
  }

  .project-wrapper:hover {
    box-shadow: -6px 5px 15px 5px var(--box-shadow);
  }

  .project-image {
    display: flex;
    height: 17dvw;
    justify-content: center;
    width: 100%;
  }

  .project-image img {
    height: 100%;
    object-fit: contain;
    object-position: center top;
    overflow: hidden;
    width: auto;
  }

  .project-title {
    color: var(--text-main);
    font-size: 1.4rem;
    margin: 0.75% 0 1.5%;
    text-align: center;
  }

  .project-tech {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--body-font);
    font-size: 0.7rem;
    font-weight: 600;
    height: 10%;
    justify-content: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    width: 100%;
  }

  .project-tech p {
    color: var(--pink);
    margin: 1% 1.75%;
  }

  .project-tech p:nth-child(2n) {
    color: var(--purple);
  }

  .project-tech p:nth-child(3n) {
    color: var(--blue);
  }

  .project-tech p:nth-child(4n) {
    color: var(--green);
  }

  .project-description {
    font-size: 0.9rem;
    height: 25%;
    line-height: 1.1rem;
    margin-top: 1%;
    padding-left: 2%;
    width: 100%;
  }

  .project-links {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2% 0;
    width: 100%;
  }

  .project-links a,
  .case-study {
    border-radius: 5px;
    color: var(--text-main);
    font-family: var(--serif-font);
    font-weight: 700;
    margin: 3%;
    padding: 1% 2.5%;
    text-decoration: none;

    transition:
      color 0.2s ease-in-out,
      background 0.2s ease-in-out;
  }

  .project-links a:hover,
  .case-study:hover {
    color: var(--text-flip);
  }

  .demo {
    border: 2px solid var(--pink);
  }

  .demo:hover {
    background: var(--pink);
  }

  .code {
    border: 2px solid var(--green);
  }

  .code:hover {
    background: var(--green);
  }

  .live {
    border: 2px solid var(--purple);
  }

  .live:hover {
    background: var(--purple);
  }

  .case-study {
    border: 2px solid var(--blue);
  }

  .case-study:hover {
    background: var(--blue);
  }

  @media (max-width: 520px) {
    .project-wrapper {
      width: 95%;
    }

    .project-image {
      height: auto;
    }

    .project-tech {
      font-size: 0.85rem;
    }

    .project-description {
      height: auto;
    }
  }

  @media (min-width: 520px) and (max-width: 1024px) {
    .project-description {
      height: 38%;
    }
  }
</style>
