---
const { title, minutesRead, tags } = Astro.props.frontmatter;
const postType = Astro.url.pathname.includes('/blog') ? 'blog' : 'notes';
const backLink = `/${postType}`;
---

<a href={backLink} class:list={["back-link", "gradient-text"]}> ← Back to the {postType} list</a>
<div class="fm-wrapper">
  <h1 class="post-title">{title}</h1>
  <div class="post-data">
    {postType === 'notes' && Astro.props.frontmatter.source && (
      <p><em>Notes are based on a course or docs from: {Astro.props.frontmatter.source}</em></p>
    )}
    <p class="read-time">☕ {minutesRead}</p>
    <!-- tags needs links to tagged posts logic -->
    <div class="tags">
      <p>This post covers these topics:</p>
      <ul>
        {tags.map((tag: String) => <p class="tag-name">{tag}</p>)}
      </ul>
    </div>
  </div>
</div>
<div class="post-content">
  <slot />
</div>
<a href={backLink} class:list={["back-link", "gradient-text"]}> ← Back to the {postType} list</a>

<style is:global>
  .back-link {
    font-family: var(--body-font);
    font-size: 1.25rem;
    font-weight: bolder;
    color: var(--text-main);
    text-decoration: none;
    background-image: none;
    background-color: var(--pink);
  }

  .back-link:hover {
    background-image: var(--gradient);
  }

  .fm-wrapper {
    margin: 0 auto 4rem;
  }

  .post-title {
    text-align: center;
    font-size: 4.25rem;
    margin: 1.25rem auto 0.5rem;
  }

  @media (max-width: 1024px) {
    .post-title {
      font-size: 3rem;
    }
  }

  .post-data {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: 0.6fr;
    justify-items: center;
    align-items: center;
    row-gap: 0.5rem;
  }

  @media (max-width: 520px) {
    .post-data {
      width: 100%;
    }
  }

  .tags {
    width: 100%;
    text-align: center;
  }

  .tags ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0.5rem auto;
  }

  .tag-name {
    padding: 0.375rem;
    margin: 0 0.75rem;
    border-radius: 3px;
    background-color: var(--bg-shadow);
  }

  .post-content {
    max-width: 60rem;
    margin: 0 auto;
  }

  /* markdown styles */
  .post-content p {
    line-height: 160%;
    margin: 1rem auto;
    font-size: 1.1rem;
  }

  .post-content li {
    font-size: 1.1rem;
  }

  .post-content h2 {
    color: var(--blue);
  }

  .post-content h3 {
    color: var(--purple);
  }

  .post-content h4 {
    color: var(--green);
  }

  .post-content hr {
    width: 55%;
    margin: 0.25rem auto;
    height: 2px;
    background: var(--gradient);
    border: none;
    border-radius: 5px;
  }

  .post-content img {
    margin: 0.5rem auto;
  }

  .post-content a {
    color: var(--text-main);
    text-decoration-thickness: 1px;
    text-decoration-color: var(--text-main);
  }

  .post-content a:hover {
    text-decoration-color: var(--pink);
    text-decoration-thickness: 3px;
    color: var(--pink);
  }

  .post-content p code,
  .post-content li code {
    padding: 0.25rem;
    background-color: var(--bg-shadow);
    border-radius: 3px;
  }

  .post-content pre {
    padding: 1.25em;
    border-radius: 3px;
  }

  .post-content blockquote {
    background-image: var(--gradient);
    border-radius: 5px;
    padding: 2px;
  }

  .post-content blockquote > * {
    background-color: var(--bg-shadow);
    padding: 2% 1% 2% 3%;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 3px;
    text-align: center;
  }

  .post-content ul {
    padding-left: 2.25rem;
  }

  .post-content ul li {
    text-indent: -3%;
  }
</style>
