---
const { title, minutesRead, tags } = Astro.props.frontmatter;
const postType = Astro.url.pathname.includes("/blog") ? "blog" : "notes";
const backLink = `/${postType}`;
---

<section>
<a href={backLink} class:list={["back-link", "gradient-text"]}>
  ← Back to the {postType} list</a
>
<div class="fm-wrapper">
  <h1 class="post-title">{title}</h1>
  <div class="post-data">
    {
      postType === "notes" && Astro.props.frontmatter.source && (
        <p>
          <em>
            Notes are based on a course or docs from:{" "}
            {Astro.props.frontmatter.source}
          </em>
        </p>
      )
    }
    <p class="read-time">☕ {minutesRead}</p>
    <!-- tags needs links to tagged posts logic -->
    <div class="tags">
      <p>This post covers these topics:</p>
      <span>
        {tags.map((tag: String) => <p class="tag-name">{tag}</p>)}
      </span>
    </div>
  </div>
</div>
<div class="post-content">
  <slot />
</div>
<a href={backLink} class:list={["back-link", "gradient-text"]}>
  ← Back to the {postType} list</a
>
</section>

<style is:global>
  /* markdown styles */
  .post-content {
    margin: 0 auto;
    max-width: 60rem;
  }

  .post-content p {
    font-size: 1.1rem;
    line-height: 160%;
    margin: 1rem auto;
  }

  .post-content li {
    font-size: 1.1rem;
  }

  .post-content h2 {
    color: var(--blue);
  }

  .post-content h3 {
    color: var(--purple);
  }

  .post-content h4 {
    color: var(--green);
  }

  .post-content hr {
    background: var(--gradient);
    border: none;
    border-radius: 5px;
    height: 2px;
    margin: 0.25rem auto;
    width: 55%;
  }

  .post-content img {
    margin: 0.5rem auto;
  }

  .post-content a {
    color: var(--text-main);
    text-decoration-color: var(--text-main);
    text-decoration-thickness: 1px;
  }

  .post-content a:hover {
    color: var(--pink);
    text-decoration-color: var(--pink);
    text-decoration-thickness: 3px;
    text-decoration-color: var(--pink);
  }

  .post-content p code,
  .post-content li code {
    background-color: var(--bg-shadow);
    border-radius: 3px;
    padding: 0.25rem;
  }

  .post-content pre {
    border-radius: 3px;
    padding: 1.25em;
  }

  .post-content blockquote {
    background-image: var(--gradient);
    border-radius: 5px;
    padding: 2px;
  }

  .post-content blockquote > * {
    background-color: var(--bg-shadow);
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 2% 1% 2% 3%;
    text-align: center;
  }

  .post-content ul {
    padding-left: 2.25rem;
  }

  .post-content ul li {
    text-indent: -3%;
  }
</style>

<style>
  /* layout styles */
  .back-link {
    background-color: var(--pink);
    background-image: none;
    color: var(--text-main);
    font-family: var(--body-font);
    font-size: 1.25rem;
    font-weight: bolder;
    text-decoration: none;
  }

  .back-link:hover {
    background-image: var(--gradient);
  }

  .fm-wrapper {
    margin: 0 auto 4rem;
  }

  .post-title {
    font-size: var(--h0);
    margin: 1.25rem auto 0.5rem;
    text-align: center;
    text-wrap: pretty;
  }

  .post-data {
    align-items: center;
    display: grid;
    grid-auto-rows: 0.6fr;
    justify-items: center;
    margin: 0 auto;
    row-gap: 0.5rem;
    width: 60%;
  }

  @media (max-width: 520px) {
    .post-data {
      width: 100%;
    }
  }

  .tags {
    text-align: center;
    width: 100%;
  }

  .tags span {
    display: flex;
    justify-content: center;
    margin: 0.5rem auto;
    padding-left: 0;
    width: 70%;
  }

  .tag-name {
    background-color: var(--bg-shadow);
    border-radius: 3px;
    margin: 0 0.75rem;
    padding: 0.375rem;
  }
</style>